@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../sedona/fonts/ptsans.woff2") format("woff2"), url("../sedona/fonts/ptsans.woff") format("woff");
}

@font-face {
  font-family: "PT Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../sedona/fonts/ptsansbold.woff2") format("woff2"), url("../sedona/fonts/ptsansbold.woff") format("woff");
}
