$blue: #81b3d2;
$blue-border-bottom: #678fa8;
$blue-border-top: #9ac3db;
$blue-hover: #669ec0;
$blue-down: #5496bd;
$disabled: #e5e5e5;
$lightgray: #eeeeee;
$gray-border: #d6d6d6;
$color-map: #f3f1ed;
$color-welcome: #d7e5f0;
$color-input: #f2f2f2;
$color-text: #333333;
$color-footer: #fefefe;

$tablet-width: 768px;
$desktop-width: 1200px;
