.advantages {

}

.advantages__list {
  list-style: none;

  margin: 0;
  padding: 0;
}

.advantages__item {

}

.advantages__title {
  font-size: 18px;
  font-height: 26px;
  font-weight: 700;
  color: black;
}

advantages__text {
  font-height: 21px;
}
