.general-nav {

}

.general-nav__toggle {
  font-size: 0;

  border: 0;

  background-color: transparent;

  &--open {

  }

  &--exit {

  }
}

.general-nav__logo {

}

.general-nav__logo-img {

}

.general-nav__site-list {
  margin: 0;
  padding: 0;
}
