.main-header {
  background-color: $color-welcome;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-position: center bottom, center bottom;
  background-size: 100%;
  background-repeat: no-repeat;

  &--index {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
    background-position: center bottom, center;
    background-size: cover, auto;
  }
}

.main-header__text {
  min-height: 158px;

  background-image: url("../img/text-sedona.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  &--index {
    min-height: 214px;

    background-image: url("../img/text-sedona-index.svg");

    margin: auto 20px;
  }
}

@media (min-width: $tablet-width) {
  .main-header__text {
    &--index {
      min-height: 350px;
    }
  }
}
