.page-main {

}

.page-main__welcome {

}

.page-main__page-description {

}

.page-main__reason {

}

.page-main__search-hostel {

}

.page-main__map {

}

.page-main__main-header {

}

.page-main__page-title {

}

.page-main__photo {

}

.page-main__text-lure {
  font-size: 18px;
  font-height: 26px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.page-main__video {

}

.page-main__form-description {

}

.page-main__review {

}
