.reason__title {
  font-size: 14px;
  line-height: 26px;
  font-weight: 400;
  text-align: center;
  color: $color-text;

  min-height: 94px;

  margin: auto 35px;
}

.reason__part {
  color: white;

  background-color: $blue;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  min-height: 451px;

  &--first {
    min-height: 490px;
  }
}

.reason__part-column {
  &--first {
    background-image: url("../img/bg-triangle.svg");
    background-position: auto;
    background-repeat: no-repeat;
  }
}

.reason__subtitle {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;

  padding: 0;
  margin: 0;

  &--black {
    color: black;
  }
}

.reason__number {
  line-height: 21px;
  text-align: center;

  padding: 0;
  margin: 0;
}

.reason__text {
  line-height: 21px;
  text-align: center;
}

.reason__img {
  background-position: center;
  background-repeat: no-repeat;

  height: 260px;

  &--first {
    background-image: url("../img/main-city-mobile@1x.jpg");
  }

  &--second {
    background-image: url("../img/main-bridge-mobile@1x.jpg");
  }
}

.reason__advantages {
  min-height: 416px;
}

.reason__other {
  background-color: $lightgray;

  min-height: 503px;
}

.reason__list {
  display: flex;
  flex-direction: column;

  list-style: none;

  margin: 0;
  padding: 0;
}

@media (min-width: $tablet-width) {
  .reason__title {
    min-height: 76px;
  }

  .reason__part {
    min-height: 256px;

    flex-direction: row;
    justify-content: flex-start;
  }

  .reason__part-column {
    width: 33%;

    &--first {
      background-image: none;
    }

    &--second {
      order: 2;
    }
  }

  .reason__img {
    flex-grow: 1;
    height: 256px;
  }

  .reason__advantages {
    min-height: 330px;
  }

  .reason__other {
    min-height: 256px;
  }

  .reason__list {
    flex-direction: row;
  }
}
