.review-form {
  display: flex;
  flex-direction: column;
}

.review-form__fieldset {
  display: flex;
  flex-direction: column;
  width: 100%;

  border: none;

  padding: 0;
  margin: 0;
}

.review-form__legend {
  font-size: 18px;
  font-height: 26px;
  font-weight: 700;
  color: black;
  text-align: center;
}

.review-form__list {
  list-style: none;

  padding: 0;
  margin: 0;
}

.review-form__label {
  font-height: 26px;

  &--impression {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }

  &--attraction {
    font-size: 18px;
    font-weight: 700;
    color: black;
  }
}

.review-form__input {
  font: inherit;
  font-size: 18px;
  font-height: 26px;
  font-weight: 700;
  color: black;
  text-transform: none;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;
  }
}

.review-form__textarea {
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  color: black;

  &::placeholder {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
    color: black;
  }
}

.review-form__required-text {
  display: none;
}

@media (min-width: $tablet-width) {
  .review-form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .review-form__fieldset {
    &--impression {
      order: -3;

      width: 50%;
    }

    &--name {
      order: -2;

      width: 50%;
    }
  }

  .review-form__required-text {
    display: block;
  }
}
