.site-list {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  text-transform: uppercase;
  color: white;

  list-style: none;
}

.site-list__link {
  display: inline-block;
  color: white;
  text-align: center;

  background-color: $blue;
}
